.comment__main {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    background-color: var(--white);
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 24px;
}

.comment__text {
    line-height: 24px;
    color: var(--grayish-blue);
}

.comment+.reply {
    margin-top: -12px;
}

.comment__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.update-button {
    align-self: flex-end;
    margin-top: 16px;
}

.comment__reply-to {
    color: var(--moderate-blue);
    font-weight: 500;
}

.comment__subcomments {
    max-width: 642px;
    margin-left: auto;
    position: relative;
}

.comment__subcomments::before {
    position: absolute;
    content: '';
    height: 97%;
    left: -43px;
    width: 2px;
    background-color: var(--light-gray);
}