.modal-delete {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    z-index: 1;
}

.modal-delete--active {
    transform: scale(1);
}

.modal-delete__content {
    max-width: 400px;
    background-color: var(--white);
    padding: 32px;
    border-radius: 8px;
}

.modal-delete__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: var(--dark-blue);
    margin-bottom: 20px;
}

.modal-delete__text {
    line-height: 24px;
    color: var(--grayish-blue);
    margin-bottom: 20px;
}

.modal-delete__buttons {
    display: flex;
    justify-content: space-between;
}